* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #04143a;
    line-height: 1.5;
}

main {
    width: 100vw;
    height: 90vh;
}

article {
    min-height: 100%;
    max-width: 960px;
    margin: auto;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.text-center {
    text-align: center !important;
}

header {
    display: flex;
    padding: 0 20%;
    height: 20%;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin-bottom: 5vh;
}

.free-tool {
    color: #1a53ff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.free-tool:hover {
        color: #fc4b6d;
        text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #04143a;
}

article .container p {
    line-height: 1.75rem;
}

.mail {
    border: 1px solid #e6e7eb;
    border-radius: 15px;
    min-height: 70vh;
}

.recipients, #cc, #bcc, .subject, .message {
    padding: 1%;
}

.recipients {
    display: flex;
}

.recipients .main, .recipients .main input {
    width: 90%;
}

label, .message span {
    font-size: 1rem;
    font-weight: 400;
    color: #6d757d;
}

#cc-btn, #bcc-btn {
    background-color: #1a53ff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.2% 1%;
    margin-right: 1vw;
    border-radius: 5px;
}

#cc-btn:hover, #bcc-btn:hover {
    background-color: #fc4b6d;
    cursor: pointer;
    border: none;
    color: white;
}

#bcc, #cc {
    display: none;
}

input, textarea {
    border: none;
}

input:focus {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

textarea::placeholder {
    color: rgb(69, 63, 100);
    font-size: large;
    height: auto;
}

.message::before, .subject::before {
    content: "";
    display: block;
    border-bottom: 1px solid #6d757d50;
    margin-bottom: 10px;
}


.message #mail-body {
    margin-top: 2vh;
}

#mail-body {
    width: 100%;
    min-height: 100%;
}

#link {
    position: fixed;
    top: 85vh;
    min-width: 500px;
    max-width: 500px;
    border: 1px solid #e6e7eb;
    margin: 0 20vw;
    border-radius: 20px;
    padding: 1%;
    justify-content: space-evenly;
}

#link-generated {
    min-width: 70%;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1vh;
}

#copy-btn {
    background-color: #1a53ff;
    width:20%;
    border-radius: 10px;
    color: white;
    border: none;
}

#copy-btn:hover {
    background-color: #fc4b6d;
    cursor: pointer;
}


@media screen and (max-width: 700px) {

    #link {
        min-width: 300px;
        max-width: 300px;
        margin: 0 10vw;
        position: fixed;
        top: 90vh;
        background-color: white;
    }
    
}
